# Python-related files
*.pyc
*.pyo
*.pyd
__pycache__/
*.cover
*.log
*.pot
*.mo
*.swp
*.swo
# *.db
# *.sqlite3
*.env

# Django-related files
*.log
local_settings.py
# db.sqlite3
media/
staticfiles/
# CPython-related files
*.cpython-*
*.so
*.pyc

# Environment variables
.env
*.env

# IDE-related files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS-related files
.DS_Store

# JetBrains IDEs
*.idea/
*.iml

# Virtual environments
venv/
env/
ENV/
.venv/
venv

# PyCharm files
*.py[cod]
__pycache__/
*.so
.idea/
/venv/
